body{
    background-image: url(images/ipl\ image.jpg);
    background-size: cover;
}
.links ul{
    display:flex;
    text-align: center;
    justify-content: center;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    padding: 10px;
    font-weight: 900;
    color:white;
    text-decoration: none;
    font-size: x-large;
}
.links ul li a:hover{
    border-bottom: 3px solid #fff;
    background:linear-gradient(rgba(166, 158, 255, 0.6), rgba(87,77,210,0.6));
}
#datavalue{
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
}
label{
    color:white;
    background-color: rgba(116, 116, 252, 0.884);
    font-size: xx-large;
    font-weight: 900;
    padding: 20px;
    font-size: xx-large;
    font-weight: 900;
}
option{
    background-color: rgba(0, 0, 0, 0.541);
    color:white;
    font-family:cursive;
    padding: 20px;
    max-height: 100px;
}
select{
    height: 40px;
    width: 200px;
    position: relative;
}
#submit {
    background-color: #3BAF;
    display: block;
    margin-top: 20vh;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border:2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    margin-left: 550px;
  }
  span{
      margin: 0 auto;
      display:inline-block;
  }
.span{
      text-align: center;
      color:white;
    }